<div class="container">
    <div class="col-12">
        <div class="d-flex flex-wrap text-center">
            <div class="col-12  mt-4">
                <img src="assets/images/color-logo.png">
            </div>

            <div class="col-12 mt-5">
                <img src="assets/images/reload-icon.png">
            </div>

            <div class="col-12 mt-3 head">
                GENERATING QUOTE...
            </div>


            <div class="col-12 content text mt-3">
                A Zenith IT specialist is creating a custom quote for you and will reach out to you as soon as it is
                ready.
            </div>

            <div class="col-12 text mt-5">
                Cheers,
            </div>

            <div class="col-12 text">
                Team Zenith
            </div>

            <div class="col-12 mt-2">
                <button type="button" class="btn-class" (click)="gotoHome()">
                    BACK TO THE HOME PAGE
                </button>
            </div>

        </div>
    </div>


</div>