#loader {
    width: 100%;
    height: 100%;
    top: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5000;
  }
  
  #loader .loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #23c994;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  #loader .bg-color {
    background-color: #ddd;
    padding: 10px;
    border-radius: 8px;
  }

  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }